<footer class="blog-footer">


  
    <p>Blog of <a href="mailto:uienator@gmail.com">Wei Gui</a>,
    <span class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span></p>
    <p>
      <a href="#">Back to top</a>
    </p>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/assets/js/jquery-1.11.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    {% include manific-popup.html %}
</footer>
