<header>

<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
    {% assign pages_list = site.pages %}
    {% for p in pages_list %}
      {% unless p.url contains 'pages' %}
        {% if p.title != null and p.group == 'navigation' %}
            {% if page.url == p.url %}
            <a class="blog-nav-item active" href="{{ BASE_PATH }}{{p.url}}">{{p.title}}</a>
            {% else %}
            <a class="blog-nav-item" href="{{ BASE_PATH }}{{p.url}}">{{p.title}}</a>
            {% endif %}
        {% endif %}
      {% endunless %}
    {% endfor %}
    </nav>
  </div>
</div>
<div class="container">
  <div class="blog-header">
      <div class="blog-logo">
        <div id="logoText"><img src="{{root_url}}/assets/icons/logo.svg"></div>
      </div>
      <h1 class="blog-title">{{ site.title }}</h1>
      <p class="lead blog-description">{{ site.description }}</p>
  </div>
</div>

</header>
