<header>

<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
    {% for p in site.data.navigations %}
      {% if page.navigation == p.name %}
          <a class="blog-nav-item active" href="{{ BASE_PATH }}{{ p.url }}">
            {{ p.name }}
          </a>
      {% else %}
          <a class="blog-nav-item" href="{{ BASE_PATH }}{{ p.url }}">
            {{ p.name }}
          </a>
      {% endif %}
    {% endfor %}
    </nav>
  </div>
</div>
<div class="container">
  <div class="blog-header">
      <div class="blog-logo">
        <div id="logoText"><img src="{{root_url}}/assets/icons/logo.svg"></div>
      </div>
      <h1 class="blog-title">{{ site.title }}</h1>
      <p class="lead blog-description">{{ site.description }}</p>
  </div>
</div>

</header>
