---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <p>
          {% if post.description %}
              {{ post.description | markdownify | strip_html }}
          {% else %}
              {{ post.excerpt | strip_html }}
          {% endif %}
          <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
            {{ post.date | date: "%b %Y" }}
          </info>
        </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
